body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;

}

.container .header,
.container .footer {
    background-color: gray;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    padding: 20px;
}

.container .footer {
    font-size: small;
    font-weight: lighter;
}

.container .content {
    display: flex;
}

.container .content .navbar {
    background-color: darkgray;
    padding-right: 40px;
}

.container .content .navbar li {
    list-style: none;
}

.container .content .main {
    background-color: lightgray;
    padding: 20px;
    text-align: justify;
}