h1 {
    background-color: white;
}

#p-0 {
    background-color: rgb(101, 101, 202);
}

#p-1 {
    background-color: rgb(185, 87, 87);
}

#p-2 {
    background-color: rgb(101, 180, 101);
}
#p-3 {
    background-color: rgb(197, 197, 110);
}

